Data/
.venv/
__pycache__/
.ipynb_checkpoints/
.spyproject
.virtual_documents
gstatsMCMC/__pycache__/
gstatsMCMC/.ipynb_checkpoints/
*.txt
*.csv
.gitignore
*.DS_Store
environment_backup.yml
MCMC_GPU/.DS_Store